# AWS Configuration
AWS_REGION=eu-north-1
CDK_DEFAULT_ACCOUNT=your-aws-account-id
CDK_DEFAULT_REGION=eu-north-1

# DynamoDB Configuration
DYNAMODB_TABLE_NAME=br-register-companies

# PostgreSQL Configuration
POSTGRES_HOST=database-1.cduqaum6qexq.eu-north-1.rds.amazonaws.com
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_TABLE=brreg_companies
POSTGRES_USER=postgres
POSTGRES_PASSWORD=3c9x5OiWafT0ahXfYQc9
POSTGRES_SSL=true
# For testing without CA validation you can instead use:
# POSTGRES_SSL={"rejectUnauthorized":false}

# HTTP Server
PORT=3000

